/* // Menu & suggestion */
@keyframes menuIn {
  from {
    opacity: 0;
    filter: blur(4px);
    transform: translateY(-8px);
  }
}

.menu,
.suggestion-container {
  -electron-corner-smoothing: var(--corner-smoothing);
  border-radius: var(--menu-radius);
  padding: 0;

  .menu-item,
  .suggestion-item {
    -electron-corner-smoothing: var(--corner-smoothing);
    padding: calc(6px * var(--density-modifier)) 8px;
    border-radius: calc(var(--menu-radius) - var(--menu-padding));
    margin-bottom: 0;
  }

  .menu-item-icon {
    order: unset !important;
    color: var(--text-normal);
  }

  .menu-item-icon .svg-icon {
    --icon-size: var(--icon-xs);
    --icon-stroke: var(--icon-xs-stroke-width);
  }

  .menu-separator {
    margin: 4px 0;
  }
}

body:not(.is-phone) {
  --menu-padding: 4px;

  & > .menu,
  & > .suggestion-container {
    animation: menuIn var(--anim-duration-moderate) var(--anim-motion-baseline) forwards;
  }

  .menu,
  .suggestion-container div:is(.suggestion-item, .suggestion-empty) {
    font-size: var(--font-ui-small);
    align-items: center;
  }
}

body.is-mobile {
  .menu,
  .suggestion-container {
    .menu-item-icon .svg-icon {
      --icon-size: var(--icon-s);
      --icon-stroke: var(--icon-s-stroke-width);
    }
  }
}

body.is-phone {
  --menu-padding: 32px 16px;

  .menu {
    border-radius: var(--radius-l) var(--radius-l) 0 0;
    overflow: hidden;

    .menu-grabber {
      margin: 8px auto;
      position: absolute;
      inset: 0;
    }
    .menu-scroll {
      max-height: 80vh;
    }
    .menu-item {
      padding: calc(16px * var(--density-modifier)) 20px;
      font-size: var(--nav-item-size);
      gap: 16px;
      border-radius: 0;
    }
    .menu-item:only-child {
      border-radius: var(--radius-s);
    }
    .menu-separator {
      margin: calc(12px * var(--density-modifier)) 16px;
    }
  }

  .suggestion-container {
    border-radius: var(--radius-l);

    .suggestion-item {
      border-radius: var(--radius-m);
      padding: calc(8px * var(--density-modifier)) 16px;
    }
  }
}


/* // Modal */
body {
  --modal-background: var(--background-secondary);
  --modal-border-color: var(--background-modifier-border-hover);

  .modal {
    -electron-corner-smoothing: var(--corner-smoothing);

    .modal-title {
      font-family: var(--h1-font);
      transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
      overflow: visible;
      text-align: left;
    }
  }
  .modal-close-button {
    border-radius: 100vh;
    position: absolute;
    top: 8px;
    inset-inline-end: 8px !important;
    height: unset;
    width: unset;
    padding: 8px;
    line-height: 12px;
    z-index: 1;

    &:empty::before {
      content: "\2715";
      line-height: 1;
      display: block;
      text-align: center;
      width: var(--icon-l);
      height: var(--icon-l);
      font-size: var(--icon-m);
      font-weight: bold;
    }
  }
}

body:not(.is-mobile) {
  @keyframes modalIn {
    from {
      opacity: 0;
      filter: blur(4px);
      transform: scale(0.975);
    }
  }

  .modal {
    animation: modalIn var(--anim-duration-moderate) var(--anim-motion-baseline) forwards;
  }
  .modal-title {
    margin-left: 0;
  }
}

body.is-phone {
  .modal-container.mod-confirmation .modal:not(.mod-sidebar-layout) {
    --modal-radius: var(--radius-l) var(--radius-l) 0 0;
  }

  .modal:not(.mod-sidebar-layout) {
    .modal-header {
      border-bottom: none;
      padding-top: 24px;
    }

    .modal-content {
      padding: var(--safe-area-inset-side);
    }

    .modal-nav-action {
      position: relative;
      background-color: var(--interactive-normal);
      margin: 0 var(--safe-area-inset-side) 8px;
    }

    & > button:last-child {
      margin-bottom: var(--safe-area-inset-bottom) !important;
    }
  }
}

body.is-tablet {
  --modal-radius: var(--radius-l);
}

/* // Notice */
.notice-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: visible;
}
.notice {
  padding: calc(12px * var(--density-modifier)) 16px;
  margin-bottom: 0;
  border: none !important;
}


/* ## app/prompt.scss */

body {
  --prompt-border-color: var(--background-modifier-border-hover);
  --prompt-input-height: 64px;

  .prompt {
    -electron-corner-smoothing: var(--corner-smoothing);
    background-color: var(--background-secondary);
    animation: modalIn var(--anim-duration-moderate) var(--anim-motion-baseline) forwards;

    .prompt-input,
    .prompt-input:hover,
    .prompt-input:focus,
    .prompt-input:focus-visible {
      background-color: transparent;
      border-bottom-color: var(--divider-color);
    }

    .prompt-results {
      flex: 1;
    }
    .suggestion-item {
      padding: 12px;
    }
  }
}

body.is-phone {
  .prompt {
    animation: none;
    border-radius: var(--radius-l) var(--radius-l) 0 0;

    .prompt-results {
      padding: var(--safe-area-inset-side);
    }
    .prompt-input-container {
      width: auto;
      margin: auto var(--keyboard-spacing) var(--keyboard-spacing);
    }
    .prompt-input {
      background-color: var(--background-primary);
    }
    .suggestion-item {
      padding: calc(16px * var(--density-modifier)) 16px;
    }
  }
}


/* ## app/settings.scss */

body:not(.is-phone) {
  --setting-items-radius: var(--radius-m);
  --setting-items-padding: calc(16px * var(--density-modifier)) 16px;
  --setting-group-heading-color: var(--text-faint);
  --setting-group-heading-size: var(--font-ui-small);

  .modal-sidebar {
    --background-modifier-form-field: var(--interactive-normal);
  }

  .modal.mod-sidebar-layout {
    .vertical-tab-header {
      border-inline-end: none;
    }
    .vertical-tab-header-group-title,
    .vertical-tab-nav-item {
      padding: calc(8px * var(--density-modifier)) 12px;
      align-items: center;
      font-size: var(--font-ui-small);
    }

    .vertical-tab-content {
      background-color: var(--modal-sidebar-background);
    }

    .setting-item-name {
      overflow: visible;
    }
  }

  .installed-plugins-container .setting-item .setting-item-description div:last-child {
    color: var(--text-muted);
    margin-top: 4px;
  }

  .installed-plugins-container .setting-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    gap: 8px;

    .setting-item {
      display: flex;
      flex-direction: column;
      margin: 0px !important;
      border: none;
      border-radius: var(--setting-items-radius) !important;
      background-color: var(--background-primary);
      padding: 16px !important;
      overflow: hidden;
    }
    .setting-item-info {
      margin-inline-end: 0;
      width: 100%;
    }
    .setting-item-description > div:last-child {
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
    .setting-item-control {
      flex: none;
      flex-wrap: wrap;
      align-self: flex-end;
      width: 100%;
    }
    .setting-item-control button.mod-cta {
      flex-grow: 1;
      flex-basis: 100%;
    }

    .setting-item:has(button) {
      order: -1;
    }
  }

  .modal.mod-community-modal {
    .modal-sidebar {
      padding: 0;
    }
    .community-modal-controls {
      display: flex;
      height: auto;
      align-items: center;
      padding: 0 8px;
      width: 100%;
      flex-wrap: wrap;
    }
    .modal-sidebar:not(:only-child) .community-modal-controls .setting-item {
      width: 100%;
      margin-right: 0;
    }
    .community-modal-controls .setting-item {
      margin: 0;
      padding: 8px 0;
      display: flex;
      align-items: center;
    }
    .community-modal-controls .setting-item:first-child {
      margin-right: auto;
    }
    .community-modal-controls .setting-item.mod-toggle {
      margin-right: 48px;
    }
    .community-modal-controls .setting-item:first-child .setting-item-info,
    .community-modal-search-summary {
      display: none;
    }
    .community-modal-search-results {
      gap: 8px;
      padding: 8px;
    }
    .community-item:not(.is-selected) {
      background-color: var(--setting-items-background);
    }
  }
}

body.is-phone {
  .modal.mod-sidebar-layout {
    box-shadow: none;

    .modal-header {
      padding: 0;
      align-items: center;
      display: inline;
      z-index: 1;
    }
    .modal-title {
      display: flex;
      align-items: center;
      min-width: fit-content;
      max-width: 0;
    }
    .modal-title:not(:has(.modal-setting-back-button)) {
      font-size: 1.5rem;
      font-weight: calc(var(--font-weight) + var(--bold-modifier));
      max-width: 100%;
      padding-left: 20px;
    }
    .modal-setting-back-button {
      inset-inline-start: 8px;
      bottom: unset;
    }

    .vertical-tab-header-group-title {
      display: none;
    }
  }

  .modal.mod-settings .modal-title {
    margin-top: var(--safe-area-inset-top);
    height: var(--touch-size-m);
  }
  .modal.mod-community-modal .modal-title {
    height: calc(var(--touch-size-m) + 16px);
  }
}

body.is-tablet {
  &.theme-dark {
    --settings-background: var(--background-secondary);
    --setting-items-background: var(--background-primary);
  }

  .modal.mod-sidebar-layout {
    .vertical-tab-header-group-title,
    .vertical-tab-nav-item {
      padding: calc(12px * var(--density-modifier)) 16px;
    }
  }
}

body:is(.mod-macos, .adaptive-mode-off, .is-android:not(.adaptive-mode-off)) {
  .modal.mod-settings .vertical-tab-nav-item {
    &[data-setting-id="editor"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-blue);
    }
    &[data-setting-id="mobile"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-blue);
    }
    &[data-setting-id="file"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-orange);
    }
    &[data-setting-id="appearance"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-accent);
    }
    &[data-setting-id="hotkeys"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-pink);
    }
    &[data-setting-id="keychain"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-green);
    }
    &[data-setting-id="plugins"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-cyan);
    }
    &[data-setting-id="community-plugins"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-purple);
    }
    &[data-setting-id="backlink"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-purple);
    }
    &[data-setting-id="canvas"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-red);
    }
    &[data-setting-id="daily-notes"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-red);
    }
    &[data-setting-id="file-recovery"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-green);
    }
    &[data-setting-id="note-composer"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-cyan);
    }
    &[data-setting-id="page-preview"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-blue);
    }
    &[data-setting-id="switcher"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-purple);
    }
    &[data-setting-id="sync"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-green);
    }
    &[data-setting-id="templates"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-blue);
    }
    &[data-setting-id="zk-prefixer"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-orange);
    }
    &[data-setting-id="webviewer"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-blue);
    }
  }
}


/* ## app/status-bar.scss */

body.status-bar-baseline .status-bar {
  transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
  border: none;
  transform-origin: bottom right;
  background-color: transparent;
  min-height: 8px;
  height: calc-size(auto, size);
}
body.status-bar-baseline .status-bar::before {
  transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 150%;
  height: 200%;
  z-index: -1;
  pointer-events: none;
  background: radial-gradient(farthest-side at right bottom, var(--background-primary), rgba(var(--mono-rgb-0), 0));
}
body.status-bar-baseline .status-bar:not(:hover) {
  transform: scale(0.8);
  opacity: 0.5;
}
body.status-bar-baseline .status-bar:not(:hover)::before {
  opacity: 0;
}

body:not(.status-bar-baseline) .status-bar {
  --status-bar-border-width: var(--border-width);
  right: unset;
  justify-content: center;
  transition:
    var(--anim-duration-moderate) var(--anim-motion-baseline),
    background-color var(--anim-duration-moderate) ease;
  border: none;
  border-radius: 100vh;
  max-width: 100%;
  min-height: unset;

  > div {
    transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
  }
  &:not(:hover) {
    bottom: 2px;
    border-width: 0;
    background-color: rgba(var(--mono-rgb-100), 0.2);
    padding-block: 0;
    max-width: 160px;
    height: 4px;

    > div {
      transform: scale(0.9);
      opacity: 0;
      filter: blur(16px);
      white-space: nowrap;
    }
  }
  &:hover {
    bottom: 4px;
    box-shadow: var(--shadow-s);
    border-color: var(--background-modifier-border);
    padding: 8px;
    height: 40px;

    &::before {
      transform: scaleY(1);
    }
  }

  &::before {
    position: absolute;
    transform: scaleY(10);
    z-index: -1;
    transition: var(--anim-duration-fast) var(--anim-duration-fast);
    width: 100%;
    height: 100%;
    content: "";
  }
}

body:not(.status-bar-baseline):not(.is-grabbing) .app-container.no-transition .status-bar {
  bottom: 4px;
  border-color: transparent;
  background-color: var(--color-accent);
  color: var(--text-on-accent);
  max-width: 100% !important;
  height: 40px !important;

  > div {
    transform: none !important;
    opacity: 1 !important;
    filter: none !important;
  }
}

/* ## app/empty-state.scss */

.workspace-leaf-content[data-type="empty"] {
  .empty-state-container {
    max-height: unset;
  }
  .empty-state-title {
    display: none;
  }
  .empty-state-action-list {
    margin-top: 0;
  }

  .empty-state-action-list::before {
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="140" height="180" viewBox="0 0 140 180" fill="none"><path d="M49.775 105.089C54.3828 103.715 61.8069 101.605 70.3434 101.082C65.2222 88.1449 63.986 76.8242 64.9803 66.7442C66.1285 55.1033 70.23 45.3874 74.228 37.1201C75.0811 35.3561 75.9012 33.7135 76.6879 32.1378C77.8017 29.9069 78.8486 27.81 79.8278 25.6916C81.4579 22.1652 82.6674 19.051 83.2791 16.1576C83.8806 13.3125 83.8838 10.7715 83.1727 8.3342C82.4607 5.89352 80.9475 3.26635 78.0704 0.386692C74.3134 -0.587559 70.1448 0.267767 67.0197 3.08162L29.9298 36.4772C27.861 38.34 26.503 40.8642 26.0879 43.6182L22.8899 64.8384C27.9185 69.2873 40.33 82.2201 47.8789 100.165C48.5525 101.766 49.1875 103.408 49.775 105.089Z" fill="white"/><path d="M21.3902 74.5293C21.2153 75.2761 20.9692 76.0051 20.6549 76.7063L1.05225 120.436C-0.961131 124.928 -0.0336421 130.194 3.39276 133.726L34.2418 165.523C49.9952 142.262 47.6984 120.379 40.5026 103.274C35.0465 90.3037 26.777 80.1526 21.3902 74.5293Z" fill="white"/><path d="M41.3687 169.269C41.9093 169.355 42.4575 169.407 43.0096 169.424C48.864 169.6 58.7098 170.109 66.6947 171.582C73.2088 172.783 86.1213 176.397 96.747 179.505C104.855 181.877 113.211 175.396 114.387 167.024C115.245 160.917 116.855 154.009 119.821 147.677L119.753 147.702C114.73 133.682 108.34 124.629 101.641 118.849C94.9619 113.086 87.7708 110.397 80.8276 109.42C69.2835 107.795 58.7071 110.832 52.0453 112.791C56.0353 129.428 54.8074 149.004 41.3687 169.269Z" fill="white"/><path d="M124.96 139.034C131.626 128.965 136.375 121.134 138.881 116.888C140.135 114.764 139.907 112.102 138.423 110.133C134.554 105.002 127.152 94.5755 123.12 84.9218C118.973 74.9962 118.355 59.5866 118.319 52.081C118.306 49.2279 117.402 46.4413 115.639 44.1994L91.6762 13.73C91.5918 15.1034 91.3946 16.4659 91.1093 17.8158C90.3118 21.5882 88.8073 25.3437 87.0916 29.0552C86.086 31.2306 84.9238 33.5612 83.7497 35.9157C82.9682 37.4827 82.1814 39.0607 81.432 40.6102C77.5579 48.6212 73.9528 57.3151 72.9451 67.5313C72.011 77.0006 73.2894 88.014 79.0482 101.162C80.0074 101.243 80.9727 101.351 81.9422 101.487C90.2067 102.651 98.8807 105.891 106.866 112.781C113.73 118.704 119.932 127.19 124.96 139.034Z" fill="white"/></svg>');
    background-color: var(--background-modifier-hover);
    height: 80px;
    content: "";
    display: flex;
    margin-bottom: 20px;
    pointer-events: none;
  }
}

body:not(.is-phone) .workspace-leaf-content[data-type="empty"] {
  .view-header {
    justify-content: flex-end;

    .view-header-left,
    .view-header-title-container {
      display: none;
    }
  }

  .empty-state-action.mod-close {
    visibility: hidden;
  }
}


/* # PROMPTS */

body:is(.mod-macos, .adaptive-mode-off) {
  .prompt-input-container {
    align-items: center;
  }
  .prompt-input-container::before,
  .omnisearch-input-field::before {
    position: absolute;
    left: var(--side-padding);
    -webkit-mask-position: 50% 50%;
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    background-color: var(--search-icon-color);
    width: var(--search-icon-size);
    height: var(--search-icon-size);
    content: "";
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 20 20'%3e%3cg clip-path='url(%23a)'%3e%3cpath fill='white' d='M0 7.793c0 4.297 3.496 7.793 7.793 7.793 1.7 0 3.252-.547 4.531-1.465l4.805 4.815c.224.224.517.332.83.332.664 0 1.123-.498 1.123-1.153a1.118 1.118 0 0 0-.322-.8l-4.776-4.805a7.703 7.703 0 0 0 1.602-4.717C15.586 3.496 12.09 0 7.793 0 3.496 0 0 3.496 0 7.793Zm1.67 0A6.127 6.127 0 0 1 7.793 1.67a6.127 6.127 0 0 1 6.123 6.123 6.127 6.127 0 0 1-6.123 6.123A6.127 6.127 0 0 1 1.67 7.793Z'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='a'%3e%3cpath fill='white' d='M0 0h20v20H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    z-index: 1;
  }

  .prompt-input {
    border-bottom: none;
    padding-inline-start: calc(var(--search-icon-size) + var(--side-padding) + 12px) !important;
  }

  .prompt .suggestion-item {
    border-radius: var(--radius-m);
    padding: calc(12px * var(--density-modifier)) var(--side-padding);
  }

  .prompt-instructions {
    border-top: none;
  }
}
body:is(.mod-macos, .adaptive-mode-off):not(.is-phone) {
  --prompt-input-height: 56px;

  @keyframes bounceInScale {
    from {
      transform: scale(1.15);
      opacity: 0;
    }
    50% {
      transform: scale(0.99);
    }
  }

  .prompt {
    animation: var(--anim-duration-moderate) bounceInScale var(--anim-motion-baseline) forwards;
    border-radius: var(--radius-xl);
  }

  .prompt-input-container::after {
    content: "";
    position: absolute;
    inset: auto var(--side-padding) 0;
    height: var(--border-width);
    background-color: var(--background-modifier-border);
    pointer-events: none;
  }
}
body:is(.mod-macos, .adaptive-mode-off).is-phone {
  --prompt-input-height: 48px;

  .prompt {
    --prompt-top: 0;

    border-radius: 0;
    height: 100vh;
    padding-bottom: 0;

    .prompt-input-container {
      width: calc(100% - var(--safe-area-inset-side) * 2);
    }
    .prompt-input-container,
    .suggester-input {
      border: none;
      gap: 8px;
      position: absolute;
      inset: auto var(--safe-area-inset-side) calc(var(--safe-area-inset-side) + var(--safe-area-inset-bottom));
      z-index: 1;
      background-color: transparent;
      box-shadow: none;
      backdrop-filter: none;
      margin: 0;
    }
    .prompt-input {
      border-radius: 100vh;
    }
    .prompt-input-container .prompt-input-cta:not(:empty),
    .prompt-input-container .search-input-clear-button {
      border-radius: 100vh;
      position: relative;
      inset-inline-end: 0;
      width: var(--prompt-input-height);
      height: var(--prompt-input-height);
      flex-shrink: 0;
      margin: 0;
    }
    .prompt-input-container .search-input-clear-button:after {
      -webkit-mask-position: 50% 50%;
      -webkit-mask-size: 100% 100%;
      -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath fill='black' d='M13.993.26.253 14a.875.875 0 0 0 0 1.23.896.896 0 0 0 1.24 0l13.74-13.74a.875.875 0 0 0 0-1.23.87.87 0 0 0-1.24 0ZM15.233 14 1.493.26a.87.87 0 0 0-1.24 0 .884.884 0 0 0 0 1.23l13.74 13.74c.332.333.908.342 1.24 0a.884.884 0 0 0 0-1.23Z'/%3e%3c/svg%3e");
    }

    .prompt-results {
      mask: linear-gradient(to bottom, transparent, black calc(var(--safe-area-inset-top) + 16px), black calc(100vh - var(--side-padding) - var(--safe-area-inset-bottom) - 96px), transparent calc(100vh - var(--side-padding) - var(--safe-area-inset-bottom)));
      padding: calc(var(--safe-area-inset-top) + 16px) var(--side-padding) 128px;
    }
    .suggestion-item {
      padding: var(--nav-item-padding);
    }
  }

  /* // Animation override: Prompt In */
  .prompt {
    transition: var(--anim-duration-moderate) !important;
    transform: none !important;
    overflow: visible;
    box-shadow: none;

    @starting-style {
      opacity: 0;
    }
  }

  .prompt-results {
    transition: var(--anim-duration-slow) var(--anim-motion-baseline);

    @starting-style {
      transform: translateY(var(--safe-area-inset-top));
    }
  }

  /* // Animation override: Prompt Out */
  .prompt[style*="transform: translateY"] {
    opacity: 0;
  }
}

body:is(.mod-macos, .adaptive-mode-off).is-tablet .prompt {
  border-radius: var(--radius-l);
}


body:is(.mod-macos, .adaptive-mode-off) {
  --background-modifier-message: var(--modal-background);
  --modal-background: rgb(from var(--background-primary-alt) r g b / 75%);

  &.is-translucent {
    --modal-background: var(--background-primary);
  }

  .menu,
  .prompt,
  .modal:not(.mod-sidebar-layout) {
    backdrop-filter: var(--blur-l);
    border: none;
    background-color: var(--modal-background);
  }
  .suggestion-container,
  .popover {
    backdrop-filter: var(--blur-m);
    border: none;
    background-color: var(--modal-background);
  }
  .cm-tooltip,
  .notice {
    backdrop-filter: var(--raised-blur);
    border: none;
    background-color: var(--modal-background);
  }
}

/* // Menu */
body:is(.mod-macos, .adaptive-mode-off):not(.is-mobile) {
  .menu,
  .suggestion-container {
    animation: none;

    svg.svg-icon {
      transition: none;
    }

    .menu-item,
    .suggestion-item {
      padding: calc(4px * var(--density-modifier)) 12px;
      align-items: center;
      display: flex;
    }
    .suggestion-item {
      min-height: 32px;
    }
    .menu-separator {
      margin: 6px 8px;
    }
  }

  .menu:hover,
  .suggestion-container:hover {
    backdrop-filter: var(--blur-m);

    .menu-item.selected:not(.is-label):not(.is-disabled) {
      background-color: var(--interactive-accent);
      color: var(--text-on-accent);

      .menu-item-icon {
        color: var(--text-on-accent);
      }
    }
  }
}

body:is(.mod-macos, .adaptive-mode-off).is-mobile {
  .menu,
  .suggestion-container {
    .menu-scroll {
      background-color: transparent;
    }
    .menu-item,
    .suggestion-item {
      padding: calc(8px * var(--density-modifier)) var(--side-padding);

      &:not([class*="is-"]) .menu-item-icon {
        color: var(--text-normal);
      }
      .menu-item-icon .svg-icon {
        --icon-size: var(--icon-m);
        --icon-stroke: var(--icon-m-stroke-width);
      }
    }
  }
}
body:is(.mod-macos, .adaptive-mode-off).is-phone {
  --menu-shadow: var(--shadow-s);
  --menu-padding: 32px var(--safe-area-inset-side);

  .menu {
    margin: 8px;
    border-radius: var(--modal-radius) var(--modal-radius) calc(var(--safe-area-inset-top) - 8px) calc(var(--safe-area-inset-top) - 8px);
  }

  .menu .menu-item {
    min-height: 48px;
    font-size: var(--font-ui-medium);
  }
  .menu .menu-item::after {
    content: none;
  }
  .menu .menu-item:not(:last-child) {
    border-bottom: none;

    .menu-item-title {
      position: relative;
      overflow: visible;
    }
    .menu-item-title::after {
      position: absolute;
      inset: auto 0 -14px;
      background-color: rgba(var(--mono-rgb-100), 0.1);
      height: var(--border-width);
      content: "";
    }
  }

  .menu-group {
    .menu-item.is-label + .menu-item:not(.is-label),
    .menu-item:first-child {
      border-top-left-radius: var(--radius-m);
      border-top-right-radius: var(--radius-m);
    }
    .menu-item:last-child {
      border-bottom-left-radius: var(--radius-m);
      border-bottom-right-radius: var(--radius-m);
    }
  }

  .suggestion-container {
    border-radius: var(--radius-m);
  }
}
body:is(.mod-macos, .adaptive-mode-off).is-tablet {
  --menu-shadow: var(--shadow-l);

  .menu,
  .suggestion-container {
    .menu-separator {
      margin: 4px 16px;
    }
    .menu-item,
    .suggestion-item {
      gap: 16px;
      padding: calc(12px * var(--density-modifier)) var(--side-padding);
    }
  }

  .suggestion-container {
    border-radius: var(--radius-m);
  }
}

/* // Modal */
body:is(.mod-macos, .adaptive-mode-off):not(.is-mobile) {
  @keyframes modalInCupertino {
    from {
      opacity: 1;
      filter: none;
      transform: scale(0.99);
    }
  }
  .modal {
    animation: modalInCupertino var(--anim-duration-moderate) var(--anim-motion-baseline) forwards;
  }

  .modal:not(.mod-sidebar-layout) {
    .modal-title {
      width: 100%;
    }
    .modal-button-container button {
      flex: 1;
      margin: 0;
      border-radius: 100vh;
      min-height: 32px;
    }
  }
}

body:is(.mod-macos, .adaptive-mode-off).is-mobile {
  .modal-setting-back-button,
  .modal-close-button {
    --icon-size: var(--icon-xl);
    padding: 6px;
  }
}

body:is(.mod-macos, .adaptive-mode-off).is-phone {
  --modal-radius: var(--radius-xl);

  .modal-container.mod-confirmation .modal {
    border-radius: var(--radius-xl) var(--radius-xl) calc(var(--safe-area-inset-top) - 8px) calc(var(--safe-area-inset-top) - 8px);
  }
  .modal:not(.mod-sidebar-layout) {
    --modal-radius: var(--radius-xl);

    margin: 0 8px 8px;
    width: calc(100vw - 16px) !important;
    left: 0 !important;

    .modal-close-button {
      top: 16px !important;
      inset-inline-end: 16px !important;
    }

    .modal-content {
      padding: 0 var(--safe-area-inset-side);
    }

    .modal-button-container {
      gap: 8px;
      padding: 16px var(--safe-area-inset-side) 0;
    }
    .modal-button-container button {
      margin-top: 0;
    }
  }
}

/* // Notice & Tooltip */
body:is(.mod-macos, .adaptive-mode-off) {
  .notice {
    box-shadow: var(--shadow-l);
    border-radius: var(--radius-m);
    padding: calc(16px * var(--density-modifier)) var(--side-padding);
    color: var(--text-muted);
  }

  .tooltip {
    --background-modifier-message: var(--background-primary);
    filter: drop-shadow(0 0 16px var(--background-modifier-box-shadow));
    animation: none;
    box-shadow: none;
    border-radius: var(--radius-l);
    padding: 8px 16px;
    color: var(--text-muted);
    font-weight: var(--font-normal);
  }
}

body:is(.mod-macos, .adaptive-mode-off):not(.is-mobile) .notice {
  transition: var(--anim-duration-moderate) !important;
}

body:is(.mod-macos, .adaptive-mode-off).is-mobile .notice {
  box-shadow: var(--shadow-xs);

  &:last-child {
    transition: var(--anim-duration-slow) var(--anim-motion-baseline) !important;

    @starting-style {
      transform: translateY(-50%) scaleX(0.5) !important;
      filter: blur(4px);
      opacity: 0;
    }
  }
}

/* // Drag ghost */
body:is(.mod-macos, .adaptive-mode-off):not(.is-mobile) {
  --drag-ghost-background: var(--background-primary);
  --drag-ghost-text-color: var(--text-normal);

  .drag-ghost {
    box-shadow: var(--shadow-l);
    padding: 8px 12px;
    border-radius: var(--radius-m);
  }
}



/* # SETTINGS */

body:is(.mod-macos, .adaptive-mode-off) {
  --setting-nav-icon-background: var(--color-base-50);

  .modal.mod-sidebar-layout.mod-settings .vertical-tab-nav-item {
    .vertical-tab-nav-item-icon {
      --icon-size: var(--icon-xs);
      --icon-stroke: var(--icon-xs-stroke-width);
      box-shadow:
        inset 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.25),
        inset -0.5px -0.5px 0.5px rgba(255, 255, 255, 0.25),
        0 0 2px rgba(0, 0, 0, 0.25),
        0 1px 4px rgba(0, 0, 0, 0.15);
      border-radius: 6px;
      background-image: linear-gradient(oklch(from var(--setting-nav-icon-background) calc(l * 1.125) c h), oklch(from var(--setting-nav-icon-background) calc(l * 0.975) c h));
      background-color: var(--setting-nav-icon-background);
      padding: 4px;
      color: var(--setting-nav-icon-color, white);
    }

    &[data-setting-id="canvas"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-color: var(--color-red);
      --setting-nav-icon-background: var(--color-base-10);
    }
    &[data-setting-id="command-palette"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: #242424;
    }
    &[data-setting-id="sync"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-color: var(--color-green);
      --setting-nav-icon-background: var(--color-base-10);
    }
    &[data-setting-id="webviewer"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-color: var(--color-blue);
      --setting-nav-icon-background: var(--color-base-10);
    }
  }
}

body:is(.mod-macos, .adaptive-mode-off):not(.is-mobile) {
  --setting-items-padding: calc(12px * var(--density-modifier)) var(--side-padding);
  --setting-group-heading-color: var(--text-normal);

  .modal.mod-sidebar-layout {
    background-color: var(--background-primary);
    border: none;
  }

  .modal.mod-settings {
    .vertical-tab-nav-item.is-active {
      --text-normal: var(--text-on-accent);
      color: var(--text-on-accent);
      background-color: var(--interactive-accent);
    }
    .vertical-tab-nav-item:not(.is-active):hover {
      background-color: transparent;
    }
    .vertical-tab-header-group-title,
    .vertical-tab-nav-item {
      padding: 6px 8px;
    }

    .setting-group .setting-item {
      padding: 12px 0;
    }
    .setting-group .setting-item:first-child {
      padding-top: 0;
    }
    .setting-group .setting-item:last-child {
      padding-bottom: 0;
    }
    .setting-item:not(.setting-group .setting-item) {
      padding: var(--setting-items-padding);
    }

    .installed-plugins-container .extra-setting-button {
      min-width: unset;
    }
  }
}


body:is(.mod-macos, .adaptive-mode-off).is-mobile {
  .modal.mod-settings .vertical-tab-nav-item .vertical-tab-nav-item-icon {
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 0 0.5px var(--background-modifier-border);
    margin-left: -4px;
  }
}

body:is(.mod-macos, .adaptive-mode-off).is-phone {
  --setting-items-radius: var(--radius-m);
  --setting-group-heading-size: var(--font-ui-medium);

  .modal.mod-sidebar-layout {
    --modal-radius: var(--radius-xl) var(--radius-xl) 0 0;
    max-height: calc(100% - var(--safe-area-inset-top));

    .modal-setting-back-button {
      inset-inline-start: var(--safe-area-inset-side);
    }
    .modal-close-button {
      top: var(--safe-area-inset-side);
      inset-inline-end: var(--safe-area-inset-side) !important;
    }

    .vertical-tab-header,
    .vertical-tab-content {
      padding-top: var(--modal-header-height);
    }

    .vertical-tab-nav-item {
      height: var(--touch-size-xl);
    }
  }
  .modal.mod-settings {
    --modal-header-height: 76px;

    .modal-title {
      margin-top: 16px;
    }
  }
  .modal.mod-community-modal {
    .modal-header {
      position: absolute;
    }
    .modal-title {
      height: calc(var(--touch-size-m) + 32px);
    }

    .modal-content .modal-sidebar,
    .modal-content .community-modal-info {
      padding-top: calc(var(--touch-size-m) + 32px);
      border-radius: var(--modal-radius);
    }
  }
}


/* // Button */
button,
.clickable-icon,
select,
.dropdown {
  -electron-corner-smoothing: var(--corner-smoothing);
  transition:
    var(--anim-duration-moderate) var(--anim-motion-baseline),
    background-color var(--anim-duration-fast);
}

button:where(:not(.clickable-icon, .ant-switch, .workspace-leaf-content:not([data-type="markdown"]) button, .copy-code-button)) {
  padding: 16px;
  display: inline-flex;
}

.clickable-icon {
  padding: 8px;
  max-height: 100%;
}

/* // Toggle */
body.obsidian-app .checkbox-container {
  -electron-corner-smoothing: var(--corner-smoothing);
  transition: var(--anim-duration-moderate);
  box-shadow: none;

  &:focus-within {
    outline: none;
  }

  &::after {
    transition:
      var(--anim-duration-moderate) var(--anim-motion-baseline),
      background-color 0s;
  }
  &:active:after {
    -electron-corner-smoothing: var(--corner-smoothing);
    box-shadow: none;
    width: calc(var(--toggle-thumb-width) + var(--toggle-border-width));
    height: var(--toggle-thumb-height);
    margin-top: var(--toggle-border-width);
  }
  &.is-enabled:active:after {
    left: calc(var(--toggle-border-width) * -1);
  }
}

/* // Slider */
input[type="range"]::-webkit-slider-thumb {
  -electron-corner-smoothing: var(--corner-smoothing);
  box-shadow: none;
}

body:is(.mod-macos, .adaptive-mode-off) {
    /* // Button */
  button:where(:not(.clickable-icon, .ant-switch, .workspace-leaf-content:not([data-type="markdown"]) button, .copy-code-button)) {
    padding: 4px 12px;
  }
  &.is-phone button:where(:not(.clickable-icon, .ant-switch, .workspace-leaf-content:not([data-type="markdown"]) button, .copy-code-button)) {
    padding: 0 var(--side-padding);
  }
  &.is-tablet button:where(:not(.clickable-icon, .ant-switch, .workspace-leaf-content:not([data-type="markdown"]) button, .copy-code-button)) {
    padding: 4px var(--side-padding);
  }
  &:not(.is-mobile) {
    --tab-action-width: 40px;

    .clickable-icon {
      min-width: var(--tab-action-width);
    }
    .clickable-icon:not([aria-disabled="true"]):hover,
    .clickable-icon.has-active-menu,
    .modal-close-button:hover {
      box-shadow: var(--shadow-xs);
      background-color: var(--raised-background);
    }
  }

  /* // Slider */
  --slider-thumb-border-width: 0;
  --slider-thumb-y: -5px;
  --slider-thumb-height: 16px;
  --slider-thumb-width: 20px;
  --slider-thumb-radius: var(--toggle-thumb-radius);
  --slider-track-height: 6px;
  --slider-track-background: var(--background-modifier-border-hover);

  &.is-mobile {
    --slider-thumb-y: -9px;
    --slider-thumb-height: 24px;
    --slider-thumb-width: 37px;

    input[type="range"]::-webkit-slider-thumb:active {
      scale: 1.4;
    }
  }

  input[type="range"]::-webkit-slider-thumb {
    transition: var(--anim-duration-moderate) var(--anim-motion-baseline) !important;
    box-shadow:
      0 1px 4px rgba(0, 0, 0, 0.075),
      0 1px 16px rgba(0, 0, 0, 0.1) !important;

    &:active {
      scale: 1.2;
      box-shadow:
        inset 1px 1px 2px -2px rgba(var(--mono-rgb-100), 1),
        inset -1px -1px 2px -2px rgba(var(--mono-rgb-100), 1),
        var(--shadow-xs) !important;
      background-color: var(--raised-background);
    }
  }

  /* // Toggle */
  --toggle-border-width: 1.5px;
  --toggle-thumb-height: 13px;
  --toggle-thumb-width: 21px;
  --toggle-width: 36px;
  --toggle-s-border-width: var(--toggle-border-width);
  --toggle-s-thumb-height: var(--toggle-thumb-height);
  --toggle-s-thumb-width: var(--toggle-thumb-width);
  --toggle-s-width: var(--toggle-width);

  &.is-mobile {
    --toggle-border-width: 2px;
    --toggle-thumb-height: 24px;
    --toggle-thumb-width: 37px;
    --toggle-width: 68px;

    .checkbox-container {
      --interactive-accent: var(--color-green);
    }
  }

  .checkbox-container {
    box-shadow: none;

    &:not(:active) {
      overflow: hidden;
    }

    &::after {
      transition: var(--anim-duration-moderate) var(--anim-motion-baseline) !important;
      box-shadow:
        0 1px 4px rgba(0, 0, 0, 0.075),
        0 1px 16px rgba(0, 0, 0, 0.1);
    }
    &:active:after {
      --toggle-border-width: -2.5px;
      --toggle-thumb-height: 21px;
      --toggle-thumb-width: 35.5px;
      --toggle-s-border-width: var(--toggle-border-width);
      --toggle-s-thumb-height: var(--toggle-thumb-height);
      --toggle-s-thumb-width: var(--toggle-thumb-width);

      box-shadow:
        inset 1px 1px 2px -2px rgba(var(--mono-rgb-100), 1),
        inset -1px -1px 2px -2px rgba(var(--mono-rgb-100), 1),
        var(--shadow-xs);
      background-color: var(--raised-background);
    }
  }
  &.is-mobile .checkbox-container:active:after {
    --toggle-border-width: -6px;
    --toggle-thumb-height: 40px;
    --toggle-thumb-width: 59px;
    --toggle-s-border-width: var(--toggle-border-width);
    --toggle-s-thumb-height: var(--toggle-thumb-height);
    --toggle-s-thumb-width: var(--toggle-thumb-width);
  }

  /* // Dropdown */
  &.is-mobile {
    --dropdown-padding-start: var(--side-padding);
  }

  select:focus,
  .combobox-button:focus,
  .dropdown:focus {
    box-shadow: none;
  }

  /* // Search bar */
  .search-input-container {
    display: flex;
    align-items: center;
    overflow: visible;

    &:before {
      top: unset !important;
      inset-inline-start: calc((var(--input-height) - var(--icon-s)) / 2);
      height: var(--icon-s);
      width: var(--icon-s);
    }

    input {
      padding-inline-start: var(--input-height) !important;
    }
  }
  .mod-sidedock,
  .vertical-tab-header,
  .community-modal-controls {
    .search-input-container,
    input[type="search"] {
      --input-height: 32px;
    }
    .search-input-container input[type="search"] {
      border: none;
      border-radius: 100vh;
      background-color: var(--background-modifier-hover);
    }
  }
  &.is-mobile .search-input-container::before {
    inset-inline-start: 12px;
  }
}